@model List<Employee>
@{
    ViewData["Title"] = "თანამშრომლები";
}

<h1>თანამშრომლების სია</h1>
<a asp-controller="Home" asp-action="Create" class="btn btn-success ">ახალი თანამშრომელი</a>

<div class="row mt-5">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>პირადი ნომერი</th>
                <th>მენეჯმენტი</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model.OrderBy(i => i.Id))
                {
                    <tr>

                        <td>@item.Id</td>
                        <td>@item.Pin</td>
                        <td>
                            <a class="btn btn-primary">რედაქტირება</a>
                        <a class="btn btn-danger">წაშლა</a>

                        </td>
                    </tr>
                }
        </tbody>
    </table>
</div>