@model List<Employee>
@{
    ViewData["Title"] = "თანამშრომლები";
}

<div class="row">
    <h3>კომპანიის თანამშრომლები</h3>
</div>

<div class="row mt-5">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>პირადი ნომერი</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.Id</td>
                        <td>@item.Pin</td>
                    </tr>
                }
        </tbody>
    </table>
</div>