@model List<Product>
@{
    ViewData["Title"] = "პროდუქტების სია";
}

<h1>პროდუქტების სია</h1>
<a asp-controller="Home" asp-action="AddProduct" class="btn btn-success ">ახალი პროდუქტის დამატება</a>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm">
                <br>
                <img src="@item.ProductImage" alt="..." class="img-thumbnail">
                <p>@item.Title</p>
                <b>ლ</b><b>@item.Price</b>
                <p class="quantity">რაოდენობა: @item.Quantity</p>
            </div>
        }
    </div>
</div>